extends _base.jade

block content
  div.container-main
    div.swiper-container
      div.swiper-pagination
      div.swiper-wrapper
        div#intro.swiper-slide.intro
          div.container-gesture.mobile-only
            img.image-block(src='img/swipe-left-one-finger.svg', alt='img/swipe-left-one-finger.svg')
            
          div.container-intro
            h2 Pernikahan
            h1 Dwi &amp; Yudha
            h3.intro-title-date 13 Juli 2016
            h3.intro-title-location
              | Turusan, Pendoworejo, Girimulyo, 
              br
              | Kulon Progo, DI Yogyakarta
            div.txt-center
              span.addtocalendar.atc-style-blue
                a.atcb-link Tambah ke Kalender
                var.atc_event
                  var.atc_date_start 2016-07-13 09:00:00
                  var.atc_date_end 2016-07-13 14:00:00
                  var.atc_timezone Asia/Jakarta
                  var.atc_title Pernikahan Dwi & Yudha
                  var.atc_description Panduan lokasi di https://dwiyudha.com
                  var.atc_location Turusan RT 45/RW 21, Pendoworejo, Girimulyo, Kulon progo, DI Yogyakarta
                  var.atc_organizer Dwi & Yudha
                  var.atc_organizer_email yosef@yudhawijaya.com
          
        
        div.swiper-slide.pr
          div#map.map
          div.map-info
            p.txt-bold
              span.txt-emphasize 09:00 WIB&nbsp;
              span.txt-title Sakramen Pernikahan
            p.txt-location-name Gereja Katolik St Maria Tak Bernoda, Nanggulan
            //- div.txt-center
            //-   a.link-external(href='') Buka di peta Google
          div.map-navigation
            div.small.button-group
              a.map-selection.button.secondary(data-id='sakramen') Sakramen
              a.map-selection.button(data-id='syukuran') Syukuran
              a#refresh.button
                img.map-navigation-button-image(src='img/ico_current_position.svg')
            
      
      
      
      div.swiper-button-prev.desktop-only
      div.swiper-button-next.desktop-only